@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom fonts */
  --font-clash-display: var(--font-clash-display), sans-serif;

  /* Custom Colors */
  --color-primaryRed: #b33030;
  --color-zGrey-1: #1F2022;
  --color-zGrey-2: #28292B;
  --color-zGrey-3: #B9B9B9;
  --color-zBlack: #151515;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: clash-display, sans-serif;
}



